@use '@/styles/global-variables.scss' as *;

.card-section {
  min-height: 700px;
  background-color: $form-color;
  margin-top: 90px !important;
}

.card-heading {
  font-family: $Audiowide-font;
  color: $white-color;
  font-size: 100px;
  font-weight: 400;
  line-height: 127px;
  letter-spacing: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards {
  width: 300px;
  height: 500px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.cards:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.cards:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

@media (max-width: 991.98px) {
  .cards {
    width: 150px;
    height: 250px;
  }
  .card-heading {
    font-size: 42px;
    line-height: 60px;
  }
}
