@import '../../styles/global-variables.scss';

.product-card {
  background-color: #d1d1d1;
  border: none;
  position: relative;
  .image-container {
    position: relative;
  }
  .discount {
    background-color: $highlight-color-2;
    border-radius: 5px;
    color: $white-color;
    width: 75px;
    height: 30px;
    font-family: $Poppins-font;
    font-size: 11px;
    text-align: center;
    padding: 7px;
    position: absolute;
    right: 14px;
    top: 12px;
  }
  .favorite {
    position: absolute;
    background: none;
    border: none;
    right: 14px;
    bottom: 12px;
    padding: 0;
  }
  .fa-heart {
    color: $white-color;
    font-size: 30px;
  }
  .fa-heart:hover {
    color: $highlight-color-2;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .product-image {
    border: 1px solid $form-color;
    width: 100%;
  }
  .product-name,
  .product-price {
    font-family: $Michroma-font;
    font-size: 15px;
    line-height: 21px;
    margin-left: 8px;
    color: $black-color;
  }
  .old-price {
    color: #8b8b8b;
  }
  .product-sizes {
    color: $black-color;
    font-family: $Poppins-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 8px;
  }
  .product-button {
    border: none;
    border-radius: 5px;
    float: right;
    margin-right: 14px;
    background-color: $highlight-color;
    color: $white-color;
    width: 100px;
    font-family: $Poppins-font;
    font-size: 14px;
  }
  .product-button:hover {
    background-color: darken($highlight-color, 5%);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .popup {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

    background: $highlight-color;
    color: #fff;
    padding: 8px 14px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;

    opacity: 0;
    animation: fadeInOut 2s ease forwards;
    pointer-events: none;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-5px);
    }
  }
}
