@use '@/styles/global-variables.scss' as *;

.footer {
  background: $footer-bg-color;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.links {
  font-family: $Iceberg-font;
  font-size: 22px;
  text-align: left;
  line-height: 30px;
}

.social-square {
  width: 150px;
  aspect-ratio: 1 / 1; /* сохраняет квадратную форму */
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.social-square a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 60px;
}

.social-square a:hover {
  background-color: $body-bg-color;
  transition: background-color 0.3s ease;
}

.copyright {
  font-family: $Inter-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
