.product-catalog-container {
  margin-top: 90px;
  padding-top: 50px;
}

/* Desktop layout:*/
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
}

/* Mobile layout:*/
@media (max-width: 991.98px) {
  .top-bar {
    flex-direction: column;
    gap: 20px;
  }

  .top-bar > * {
    width: 100%;
  }
}

.sorting-wrapper {
  margin-top: 20px;
  text-align: center;
}
