@use '@/styles/global-variables.scss' as *;

.sort-module {
  font-family: $Iceberg-font;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  background: $form-color;

  .filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background: $form-color;
    border-radius: 5px;

    .sort-label {
      font-size: 18px;
      color: $black-color;
      margin-left: 15px;
      font-family: $Gelasio-font;
      font-weight: 600;
    }

    .filter-dropdown {
      padding-left: 10px;
      padding-right: 40px;
      font-size: 24px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      background-color: #a8a8a8;
      color: $white-color;
      cursor: pointer;
      font-weight: 500;
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23fff' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 10px center;
      min-width: 170px;
      min-height: 30px;
      &:hover {
        -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.3);
        paint-order: stroke fill;
        color: transparent;
      }

      &:focus {
        outline: none;
      }

      option {
        background-color: #fff;
        color: #333;
      }
    }

    .apply-filters-btn {
      border-radius: 5px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 0.5);
      min-width: 150px;
      min-height: 30px;
      font-size: 20px;
      border: none;
      color: $black-color;
      margin-left: auto;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.2s;
      }
    }
  }

  @media (max-width: 768px) {
    .filters-container {
      justify-content: center;

      .sort-label {
        width: 100%;
        text-align: center;
        margin: 0;
      }

      .filter-dropdown {
        width: 100%;
      }

      .apply-filters-btn {
        width: 100%;
        margin: 0;
      }
    }
  }
}
