@import '../../styles/global-variables.scss';

.form-container {
  margin-top: 140px;
  margin-bottom: 50px;
  max-width: 1346px;
  border-radius: 15px;
  background-color: $form-color;
}

.questions-column {
  color: $black-color;
  font-family: $Iceberg-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.question {
  border-radius: 15px;
  background: rgba(222, 222, 222, 1);
  padding: 22px 16px;
}
.answers-column {
  color: $white-color;

  font-family: $Iceberg-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.answer {
  border-radius: 15px;
  background: rgba(83, 109, 254, 0.5);
  padding: 22px 16px;
}
